prisma-intro {
    h1 {
       text-align: center;
       font-size: 2em;
       color: #A9A9A9;
       margin-bottom:1.5em;
       padding: 0 2em;
    }

    .alternate-option {
        color: color($colors, medium-gray);
        text-align: center;
        margin-top:1.5em;
      }

    .intro-img {
        display: block;
        position: relative;
        margin: 10vh auto 0 auto;
        max-height: 50%;
        max-width: 80%;
    }

    .intro-btn {
        display: block;
        margin: auto;
        position: relative;
        padding: 0 4em;
    }
}