<ion-content padding no-bounce>

  <login-header></login-header>

  <!--  Login case -->
  <div *ngIf="!isSigningUp">
    <ion-list inset>
      <ion-item>
        <ion-input type="text" [(ngModel)]="email" placeholder="{{'E-mail' | translate}}"
                   [pattern]="util.getEmailPattern()" clearOnEdit="false" required clearInput></ion-input>
      </ion-item>

      <ion-item>
        <ion-input type="{{type}}" #input [(ngModel)]="password" placeholder="{{'Wachtwoord' | translate}}"
                   [pattern]="util.getPasswordPattern()" clearOnEdit="false" required clearInput></ion-input>
        <button ion-button icon-only (click)="toggleShow()" clear item-right>
          <ion-icon *ngIf="!show" name="eye" color="medium-gray"></ion-icon>
          <ion-icon *ngIf="show" name="eye-off" color="medium-gray"></ion-icon>
        </button>
      </ion-item>

    </ion-list>

    <button ion-button solid block full large color="general" (click)="signIn()" [disabled]="!canSignIn()">
      <div *ngIf="!loading">{{'Aanmelden' | translate}}</div>
      <div *ngIf="loading">
        <ion-spinner item-start name="dots" color="white"></ion-spinner>
      </div>
    </button>

    <div class="signup-suggestion">
      <p class="alternate-option">{{'Nog geen account' | translate}}? <a color="general" (click)="isSigningUp=true">{{'Maak
        account' |
        translate}}</a>.</p>

    </div>

  </div>
  <!--  Sign up case -->
  <div *ngIf="isSigningUp">
    <ion-list>
      <ion-item>
        <ion-input type="text" value="" [(ngModel)]="firstname" placeholder="{{ 'Voornaam' | translate }}"
                   required></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text" value="" [(ngModel)]="lastname" placeholder="{{ 'Naam' | translate}}"
                   required></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="email" value="" [(ngModel)]="email" placeholder="{{'E-mail' | translate}}"
                   required></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="{{type}}" #input [(ngModel)]="password" placeholder="{{'Wachtwoord' | translate}}"
                   [pattern]="util.getPasswordPattern()" clearOnEdit="false" required clearInput></ion-input>
        <button ion-button icon-only (click)="toggleShow()" clear item-right>
          <ion-icon *ngIf="!show" name="eye" color="medium-gray"></ion-icon>
          <ion-icon *ngIf="show" name="eye-off" color="medium-gray"></ion-icon>
        </button>
      </ion-item>
    </ion-list>

    <button ion-button solid block full large color="primary" (click)="signUp()" [disabled]="canSignUp()">
      <div *ngIf="!loading">{{'Maak account' | translate}}</div>
      <div *ngIf="loading">
        <ion-spinner item-start name="dots" color="white"></ion-spinner>
      </div>
    </button>

    <div class="signup-suggestion">
      <p class="alternate-option">{{'Al een account' | translate}}? <a color="general" (click)="isSigningUp=false">{{
        'Aanmelden' | translate }}</a></p>
    </div>

  </div>

</ion-content>
