page-login {
  .prisma-header img {
    width: 100%;
    display: block;
  }

  .signup-suggestion {

    margin: auto;
    text-align: center;
    font-size: 16px;
    p {
      font-size: 16px;
      color: color($colors, dark-gray);
    }
  }

  #signin-button {
    display: block;
    margin: auto;
  }
}
