<ion-content padding no-bounce>

  <div class="prisma-header">
    <img src="assets/icon/prisma-logo.png"/>
  </div>

  <!--  Login case -->
  <div *ngIf="!isSigningUp">
    <ion-list>
      <ion-item>
        <ion-label fixed>E-mail*</ion-label>
        <ion-input type="text" [(ngModel)]="email" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label fixed>Paswoord*</ion-label>
        <ion-input type="password" [(ngModel)]="password" required></ion-input>
      </ion-item>
    </ion-list>

    <button id="signin-button" ion-button color="general" (click)="signIn()">Aanmelden</button>

    <div class="signup-suggestion">
      <p>Of heb je nog geen account?</p>
      <button ion-button color="general" (click)="isSigningUp=true">Registreer</button>
    </div>

  </div>
  <!--  Sign up case -->
  <div *ngIf="isSigningUp">
    <ion-list>
      <ion-item>
        <ion-label fixed>Voornaam*</ion-label>
        <ion-input type="text" value="" [(ngModel)]="firstname" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label fixed>Achternaam*</ion-label>
        <ion-input type="text" value="" [(ngModel)]="lastname" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label fixed>E-mail adres*</ion-label>
        <ion-input type="email" value="" [(ngModel)]="email" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label fixed>Paswoord*</ion-label>
        <ion-input type="password" [(ngModel)]="password" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label fixed>Paswoord* (typ het nog eens)</ion-label>
        <ion-input type="password" [(ngModel)]="passwordConfirm" required></ion-input>
      </ion-item>
    </ion-list>

    <button ion-button color="general" (click)="isSigningUp=false">Annuleer</button>
    <button ion-button color="general" (click)="signUp()">Registreer</button>

  </div>

</ion-content>
