page-question {

  .question-header {
    position: relative;
    width: 100%;
    padding: 1.5em;
    background-color: map-get($colors, 'general');

    h2 {
      display: inline-block;
      width: 90%;
      color: #fff;
      font-size: map-get($sizes, 'large');
      font-weight: 400;
    }

    ion-icon {
      position: absolute;
      bottom: 1em;
      right: 1em;
      font-size: 2em;
      color: map-get($colors, 'light');
    }
  }

  ion-textarea {
    font-size: 1.3em;
    padding: 0 1em;
    height: 5em;
  }
}
