prisma-create-update-story {
    .question {
      height: 29px;
      width: 248px;
      color: #ABAEB4;
      font-family: Varela;
      font-size: 20px;
      line-height: 29px;
    }
  
    .select-md .select-icon, .select-ios.select-icon {
      border: 1px black solid;
    }
  
    .save-button {
      text-transform: none;
      font-size: map-get($sizes, 'medium');
      height: 2.4em;
    }
  
    .save-button p {
      margin-left: 1em;
    }
  
    .story-text {
      font-size: map-get($sizes, 'medium');
    }
  
    .plak-een-youtube-lin {
      height: 52px;
      width: 298px;
      color: #545B6E;
      font-family: Varela;
      font-size: map-get($sizes, 'medium');
      line-height: 26px;
      margin-left: 10px;
      padding-left: 0;
    }

    .thumbnail{
      margin-top:10px;
    }
  
  }
  