prisma-authentication-header, prisma-authentication-login, prisma-authentication-register {

  .signup-suggestion {

    margin: auto;
    text-align: center;
    font-size: 16px;
    p {
      font-size: 16px;
      color: color($colors, dark-gray);
    }
  }

  .alternate-option {
    color: color($colors, medium-gray);
  }
  
  .toolbar-content-md {
    margin-right: 44px;
  }

  .list {
    margin-left: 1.5em;
    margin-right: 1.5em;
    margin-top:1.5em;
    margin-bottom: 2.5em;
  }
}
