<ion-header>

  <ion-navbar>
    <ion-title>Nieuw verhaal</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-card>
      <img class="new-story-thumb" *ngIf="dataUrl" src="{{dataUrl}}">
      <ion-card-content>
        <ion-card-title>
          <ion-label>Album</ion-label>
          <ion-select [(ngModel)]="selectedAlbum">
            <ion-option *ngFor="let album of albums,let i=index" [value]="album" [selected]="album.id === selectedAlbum.id">{{album.title}}</ion-option>
          </ion-select>
        </ion-card-title>
        <ion-item>
          <ion-label>Title</ion-label>
          <ion-input type="text"[(ngModel)]="title"></ion-input>
        </ion-item>

        <ion-item>
          <ion-textarea placeholder="Beschrijving" [(ngModel)]="description" clearInput></ion-textarea>
        </ion-item>
      </ion-card-content>
    <button ion-button color="primary" (click)="commit()">Opslaan</button>
  </ion-card>


</ion-content>
