<ion-header>
  <ion-navbar>
    <ion-title>{{'Nieuw verhaal' | translate}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item-group>
    <ion-item>
      <ion-thumbnail *ngIf="dataUrl && method.indexOf(methods.replaceDescription) < 0" style="padding-left: 7%;">
        <img class="new-story-thumb" [src]="sanitizeUrl()">
      </ion-thumbnail>
      <ion-item *ngIf="method.indexOf(methods.replaceImage) < 0">
        <ion-textarea autofocus class="story-text" placeholder="{{placeHolder}}" [(ngModel)]="description" rows="7"
                      clearInput></ion-textarea>
      </ion-item>
    </ion-item>
    <button class="save-button" ion-button full medium icon-right color="general" (click)="commit()">
      <ion-icon name="checkmark"></ion-icon>
      <p>{{'Opslaan' | translate}}
      <p>
    </button>
  </ion-item-group>
</ion-content>
