page-newstory {
  .ion-card-title {
    height: 29px;
    width: 248px;
    color: #ABAEB4;
    font-family: Varela;
    font-size: 20px;
    line-height: 29px;
  }

  .select-md .select-icon,.select-ios.select-icon{
    border: 1px black solid;
  }
}


