// http://ionicframework.com/docs/v2/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@font-face {
  font-family: Varela;
  src: url('../assets/fonts/varela.woff2') format('woff2');
}

//h1, h2, h3, .toolbar-title, ion-list-header .label, .tab-button-text, p {
* {
  font-family: Varela, 'Noto Sans';
}

// INPUT VALIDATION STYLE
/*
$text-input-highlight-color-valid:	color($colors, light-gray);
$text-input-highlight-color-invalid:	color($colors, light-gray);
$text-input-placeholder-color: color($colors, light-gray);
*/

.item-input .item-inner,
.list-md .item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child,
.list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child,
.list-md .item-input.ng-valid.item-input-has-value.input-has-focus,
.list-md .item-input.ng-valid.input-has-focus:not(.item-input-has-value),
.list-md .item-input.ng-valid.input-has-value.input-has-focus,
 {
   //border-bottom: 2px solid map-get($colors, light-gray) !important;
   border-bottom: none !important;
   box-shadow:none !important;
}

.list-md .item-input:last-child {
  border: none !important;
}


// PAGE HEADER

.page-header {
  padding: 2em 3em;
  //background-color: map-get($colors, 'primary');

}

.page-header h2 {
  font-size: map-get($sizes, 'large');
  line-height: 33px;
  text-align: center;
  font-family: $prisma-ff;
  color: map-get($colors, 'dark-gray');
}

// TOOLBAR

.header .toolbar {

  .toolbar-content .title .toolbar-title {
    color: #fff;
  }

  .bar-button .button-inner {
    color: #fff;
  }
}

.toolbar-background-md {
  background-color: map-get($colors, 'primary');
}

//   STARS
  .star {
    display: block;
    position: absolute;
    right: 0.7em;
    bottom: 0.7em;
    font-size: 3em;
    color: color($colors, yellow);
  }

  // TODO: class may be redundant now
  .star.favorited {
    color: color($colors, yellow);
  }

  // ADD NEW STORY/ALBUM header

  .add-new-container {
    background-color: map-get($colors, 'primary');
    color: #fff;
    width: 100%;
    height: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .add-new > * {
    display: block;
  }

  .add-new > ion-icon {
    font-size: 3em;
    text-align: center;
  }

  .add-new > span {
  }
