<ion-menu [content]="content" color="white">


  <ion-content>
    <ion-toolbar color="white">
      <ion-title style="color: #FFABAEB4">Menu</ion-title>
    </ion-toolbar>
    <ion-list>
      <button ion-item (click)="invite()" *ngIf="authService.getCurrentPatient()" class="ion-menu-buttons">
        <ion-icon name="person-add" color="general"></ion-icon>
        {{'Nodig iemand uit' | translate}}
      </button>
      <button ion-item (click)="logout()" class="ion-menu-buttons">
        <ion-icon name="exit" color="general"></ion-icon>
        {{'Afmelden' | translate}}
      </button>
      <!--
         <ion-item>
           <ion-row style="text-align: center">
             <ion-col *ngIf="translator.lang.indexOf('en') < 0">
               <button ion-button color="general" clear (click)="translator.switchLang('en')">EN</button>
             </ion-col>
             <ion-col *ngIf="translator.lang.indexOf('fr') < 0">
               <button ion-button color="general" clear (click)="translator.switchLang('fr')">FR</button>
             </ion-col>
             <ion-col *ngIf="translator.lang.indexOf('nl') < 0">
               <button ion-button color="general" clear (click)="translator.switchLang('nl')">NL</button>
             </ion-col>
           </ion-row>
         </ion-item>  -->
    </ion-list>
  </ion-content>

</ion-menu>

<ion-nav id="nav" #content #rootNavController [root]="rootPage" swipeBackEnabled="false">
</ion-nav>
