// http://ionicframework.com/docs/v2/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@font-face {
  font-family: Varela;
  src: url('../assets/fonts/varela.woff2') format('woff2');
}

h1, h2, h3, .toolbar-title, ion-list-header .label, .tab-button-text {
  font-family: Varela, 'Noto Sans';
}

// PAGE HEADER

.page-header {
  padding: 2em 6em;
  //background-color: map-get($colors, 'primary');

}

.page-header h2 {
  font-size: map-get($sizes, 'large');
  line-height: 33px;
  text-align: center;
  font-family: $prisma-ff;
  color: map-get($colors, 'dark-gray');
}

// TOOLBAR

.header .toolbar {

  .toolbar-content .title .toolbar-title {
    color: #fff;
  }

  .bar-button .button-inner {
    color: #fff;
  }
}

.toolbar-background-md {
  background-color: map-get($colors, 'primary');
}

//   STARS
  .star {
    display: block;
    position: absolute;
    right: 0.7em;
    bottom: 0.7em;
    font-size: 3em;
    color: color($colors, dark-gray);
  }

  .star.favorited {
    color: color($colors, yellow);
  }

  // ADD NEW STORY/ALBUM header

  .add-new-container {
    background-color: map-get($colors, 'primary');
    color: #fff;
    width: 100%;
    padding: 2.5em 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .add-new > * {
    display: block;
  }

  .add-new > ion-icon {
    font-size: 3em;
    text-align: center;
  }

  .add-new > span {
  }
