page-tutorial {
  .description {
    height: 13.59%;
    width: 83.61%;
    color: #ABAEB4;
    font-family: Varela;
    font-size: map-get($sizes, medium);
    line-height: 29px;
    text-align: center;
  }
}
