<ion-content padding>
    <ion-slides pager loop="false" paginationType="progress">

      <ion-slide *ngFor="let slide of slides,let i=index">

        <ion-card>
          <img src="{{slide.src}}"/>
          <ion-card-content>
            <ion-card-title>
              {{slide.title}}
            </ion-card-title>
            <p style="text-align: left;">
              {{slide.text}}
            </p>
            <ion-item *ngIf="i < slides.length-1">
              <button ion-button color="primary" (click)="goToSlide(i+1)">Volgende -></button>
            </ion-item>
            <!-- on the last slide -->
            <ion-item *ngIf="i == slides.length-1">
              <button ion-button color="vibrant" (click)="goToTheApp()"> Go To The App</button>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-slide>
    </ion-slides>


</ion-content>
