<ion-content>
  <ion-slides pager loop="false" style="height: 93%">
    <ion-slide *ngFor="let slide of slides,let i=index">
      <ion-card-content>
        <ion-card-title>
          {{slide.title}}
        </ion-card-title>
        <p class="description">
          {{slide.text}}
        </p>
      </ion-card-content>
      <img src="{{slide.src}}"/>
    </ion-slide>
  </ion-slides>
  <button style="text-align: center; height: 6%" ion-button full medium icon-right color="general"
          (click)="goToSlide(currentSlide+1)" *ngIf="currentSlide < slides.length-1">Volgende
    <ion-icon name="arrow-forward"></ion-icon>
  </button>
  <button style="text-align: center; height: 6%" ion-button full medium icon-right color="general"
          (click)="goToTheApp()" *ngIf="currentSlide === slides.length-1">Begin
    <ion-icon name="arrow-forward"></ion-icon>
  </button>
</ion-content>
