page-tutorial {

  .btn {
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    border-radius: 28px;
    text-shadow: 1px 1px 3px #666666;
    font-family: Arial;
    color: #ffffff;
    font-size: 30px;
    background: #FF284C;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
}
