page-stories {
  ion-card {
    position: relative;
    text-align: center;
  }

  .card-title {
    position: absolute;
    bottom: 1em;
    padding-left: .5em;
    font-size: .9em;
    width: 100%;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(0,0,0,.6), 1px 1px 0 rgba(0,0,0,.6);
  }

  .list-header {
    padding-left: 0;
    font-weight: bold;
    margin-bottom: 0;
  }

  .list-md .item-block .item-inner {
    border-bottom: none;
  }

  ion-col.col {
    padding-left: 0;
  }

  .col img::after {
      position: relative;
      background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, #fff 100%);
      margin-top: -150px;
      height: 150px;
      width: 100%;
      content: '';
    }

  ion-item.item.item-block {
    padding-left: 0;
    .item-inner { padding-right: 0; margin-right: 0; }
    .input-wrapper {  }
  }

  ion-label.label {
    margin: 0;
  }

}
