<ion-header>
  <ion-navbar>
    <ion-title>
      Verhalen van <div *ngIf="user"> {{user.firstName}}</div>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>

    <ion-item *ngFor="let album of albums,let i=index">
      <ion-list>
        <ion-list-header>
          <span>{{album.title.trim()}}</span>
          <ion-note style="float:right">
            <button class="add-story-button" (click)="showNewStory()" ion-button small icon-left clear>
              <ion-icon name="add"></ion-icon> Toevoegen
            </button>
          </ion-note>
        </ion-list-header>
        <ion-slides slidesPerView=3 zoom=true >
          <ion-slide class="story-item"
            *ngFor="let item of getStories(album),let j=index"
            (click)="showDetails(album,j)"
            [ngStyle]="{'background-image': 'url(' + getThumb(item.source) + ')'}">
            <!--<img id="{{item.id}}" src="{{getThumb(item.source)}}">-->
            <!-- <div class="card-title">{{item.title}}</div>-->
          </ion-slide>
        </ion-slides>
      </ion-list>
    </ion-item>
  </ion-list>
</ion-content>
