prisma-new-lovedone{

  .prisma-title {
    text-align: left;
    font-size: 1.2em;
    margin-left:1.5em
  }

  .list {
    margin-left: 1.5em;
    margin-right: 1.5em;
    margin-top:1.5em;
    margin-bottom: 2.5em;
  }

  .toolbar-content-md {
    display: flex;
    text-align: center;
  }
}
