page-storydetails {
  .description {
    padding: 1em;
    color: #fff;
    background-color: color($colors, general);
    font-size: map-get($sizes, 'medium');
  }

  .detail-button {
    width: 100%;
    font-size: map-get($sizes, 'medium');
    background-color: transparent;
    text-align: left;
    padding-left: 1em;

    div {
      p {
        color: color($colors, dark-gray);
        margin-left: 0.4em;
      }
    }
  }

  .detail-button > div > * {
    display: inline-block;
  }

  img {
    display: block;
  }

  .image-container {
    position: relative;
  }

}
