<ion-header>
  <ion-navbar>
    <ion-title class="detail-title">
      {{ album.title || '?' }}
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="showMore($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-content padding *ngIf="story">
  <div class="swipe-wrapper" (swipe)="swipeEvent($event)">
    <div>
      <div class="image-container"
           *ngIf="story.source && story.source.indexOf('youtube.com') < 0">
        <div *ngIf="story.source">
          <img id="{{story.id}}" [src]="getStanizedUrl() || loadingImageUrl"
               style="width:100%; max-width:100%">
          <ion-icon class="star" name="{{isFavorited() ? 'star' : 'star-outline'}}"
                    [class.favorited]="isFavorited()" (click)="toggleFavorite()"></ion-icon>
        </div>
      </div>
      <div class="image-container"
           *ngIf="story.source && story.source.indexOf('youtube.com') >= 0">
        <div *ngIf="story.source && !isRunningInBrowser()">
          <img id="{{'video-'+story.id}}" [src]="getYoutubeThumb(story.source)"
               (click)="openYoutubeVideo(story.source)"
               style="width:100%; max-width:100%">
          <ion-icon name="logo-youtube" color="white"
                    (click)="openYoutubeVideo(story.source)"
                    style=" position: absolute;display: block;font-size: 50px;top: 35%;left: 35%;"
                    class="movie-indicator"></ion-icon>
          <ion-icon class="star" name="{{isFavorited() ? 'star' : 'star-outline'}}"
                    [class.favorited]="isFavorited()" (click)="toggleFavorite()"></ion-icon>
        </div>
        <div *ngIf="story.source && isRunningInBrowser()">
          <iframe target="_parent" id="Video{{story.id}}" width="100%" height="315"
                  [src]="stanizeVideo(story.source)" frameborder="0" allowfullscreen
                  style="width:100%; max-width:100%">>
          </iframe>
          <ion-icon class="star" name="{{isFavorited() ? 'star' : 'star-outline'}}"
                    [class.favorited]="isFavorited()" (click)="toggleFavorite()"></ion-icon>
        </div>

      </div>
      <!-- No more title
      <h2>{{story.title}}</h2>  -->
      <div class="description" color="general" *ngIf="story.description">
        <p class="description-text">{{story.description}}</p>
        <p style="text-align: center; margin: 0.7em 0 0.3em 0;" *ngIf="!story.source">
          <ion-icon class="star2"
                    name="{{isFavorited() ? 'star' : 'star-outline'}}"
                    [class.favorited]="isFavorited()" (click)="toggleFavorite()"></ion-icon>
        </p>
      </div>

      <div class="row">
        <div class="detail-button">
          <div class="story-action" (click)="editDescription()">
            <ion-icon name="md-create" color="general"></ion-icon>
            <p>{{'Vul het verhaal aan' | translate}}</p>
          </div>
          <div class="story-action" (click)="replaceOrAddImage()" *ngIf="!story.source">
            <ion-icon name="camera" color="general"></ion-icon>
            <p>{{'Voeg een foto toe' | translate}}</p> <!-- "Vervang foto" if already existing -->
          </div>
        </div>
      </div>
      <!--
      <div class="row">
        <button ion-button full icon-left color="transparent" style="text-align: left">
          <ion-icon name="star" color="general"></ion-icon>
          <p color="general">Favoriet</p>
        </button>
      </div>
      <div class="row">
        <button ion-button full icon-left (click)="next()" color="transparent" style="text-align: left">
          <ion-icon name="md-arrow-forward" color="general"></ion-icon>
          <p color="general">Volgende verhaal</p>
        </button>
      </div>
      -->
    </div>
  </div>
</ion-content>
