<ion-header>
  <ion-navbar>
    <ion-title>
      {{ album.title || '?' }}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding *ngIf="album && isValidIndex(index) && album.stories[index]">

  <ion-card (swipe)="swipeEvent($event)">
    <ion-card-header>
    <img id="{{album.stories[index].id}}" src="{{getThumb(album.stories[index].source)}}"
         style="width:100%; max-width:100%">
    </ion-card-header>
    <ion-card-content>
      <!-- No more title
      <h2>{{album.stories[index].title}}</h2>  -->
      <p class="description" *ngIf="album.stories[index].description">{{album.stories[index].description}}</p>
      <div class="row">
        <button ion-button icon-left block color="general">
          <ion-icon name="md-create"></ion-icon>
          Vul het verhaal aan
        </button>
      </div>
      <div class="row">
        <button ion-button icon-left block color="general">
          <ion-icon name="star"></ion-icon>
          Favoriet
        </button>
      </div>
      <div class="row">
        <button ion-button icon-left block color="general" (click)="next()">
          <ion-icon name="md-arrow-forward"></ion-icon>
          Volgende verhaal
        </button>
      </div>
    </ion-card-content>
  </ion-card>

</ion-content>
