<ion-header>
  <ion-navbar>
    <ion-title>Nodig iemand uit</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="form">
    <ion-list inset>
      <ion-item>
        <ion-input
          type="text"
          formControlName="firstName"
          placeholder="Voornaam"
          clearOnEdit="false"
          clearInput>
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          type="text"
          formControlName="lastName"
          placeholder="Name"
          clearOnEdit="false"
          clearInput>
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          type="email"
          formControlName="email"
          placeholder="E-mail"
          clearOnEdit="false"
          clearInput>
        </ion-input>
      </ion-item>
    </ion-list>

    <button ion-button solid block full large color="general"
            (click)="invite(form.getRawValue())"
            [disabled]="loading || form.invalid">
      <div *ngIf="!loading">Uitnodigen</div>
      <div *ngIf="loading">
        <ion-spinner item-start name="dots" color="white"></ion-spinner>
      </div>
    </button>
  </form>
</ion-content>
