album-detail {

  ion-scroll {
    height: 70%;
    white-space: nowrap;
  }

  album-questions .topic-wrapper {
    height: 30%;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 90000;
  }

  ion-title {
    float: left;
  }

  .grid {
    padding: 0;
  }

  .album-thumb {
    // settings for the description text
    padding: 2em;
    background-color: color($colors, white);
    text-shadow: none;
  }

  .col, [col-6] {
    padding: 0;
  }

  .album-thumb h3 {
    display: inline-block;
    text-align: center;
    margin: auto;
    color: #fff;
    position: absolute;
    bottom: 1em;
    left: 0;
    width: 100%;
  }

  .description-wrapper {
    text-overflow: ellipsis;
    overflow: hidden;
    height: 100%;
    color: colors($colors, white);
  }

  .story-description {
    margin: 0;
    font-size: map-get($sizes, 'small');
    color: color($colors, dark-gray);
  }

  .star {
    font-size: 2.5em;
  }
}
