album-questions {

  .page-header {

    background-color: #fff;

    h2 {
      color: color($colors, dark-gray);
    }

    .question-refresh {
      margin: auto;
      font-size: map-get($sizes, 'extra-large');
      text-align: center;
      color: map-get($colors, 'primary');
      width: 100%;
      margin-top: 0.4em;
    }

  }

}
