page-empty {
  .desc {
    color: #ABAEB4;
    font-family: Varela;
    font-size: 20px;
    line-height: 29px;
  }
  .ion-title {
    color: #545B6D;
    font-family: Varela;
    font-size: 20px;
    line-height: 29px;
  }
}
