<ion-content #content class="no-scroll dark-content" (keydown)="keyEvent($event)" >
    <ion-navbar class="detail-nav controls" [class.show]="showControls">
      <ion-buttons end>
        <button ion-button icon-only (click)="showMore($event)">
          <ion-icon name="more"></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>
    <div (swipe)="swipeEvent($event)">
        <div class="image-container" (click)="toggleControls()"
             *ngIf="story.type !== 'youtube'">
            <img id="{{story.id}}" [src]="backgroundImage"
                 class="detail-img">
        </div>
        <div class="image-container" (click)="toggleControls()"
             *ngIf="story.type === 'youtube'">
             <iframe *prismaIfPlatform="'notCordova'" width="560" height="315" [src]="safeYoutubeUrl" 
             frameborder="0" allow="autoplay; encrypted-media" allowfullscreen style="width:100%;height:100vh"
             (keydown)="keyEvent($e)">
            </iframe>
            <img *prismaIfPlatform="'cordova'" id="{{'video-'+story.id}}" [src]="backgroundImage"
               (click)="openYoutubeVideo(story.source)"
               class="detail-img">
          <div *prismaIfPlatform="'cordova'" (click)="openYoutubeVideo(story.source)"
            class="youtube-icon circle-icon movie-indicator"></div>
        </div>
        <ion-toolbar style="pointer-events: none;" class="bottom overlay-nav controls" [class.show]="showControls">
          <ion-buttons left class="detail-controls">
            <button *ngIf="!showDescription && story.description" ion-button icon-only (click)="toggleDescription()">
              <ion-icon name="information-circle"></ion-icon>
            </button>
            <!-- Show story edit when there is no description, or when the description is being viewed -->
            <button *ngIf="!story.description || showDescription" ion-button icon-only (click)="editDescription(story)">
              <ion-icon name="md-create"></ion-icon>
              <span class="edit-story-label">Vul het verhaal aan</span>
            </button>
          </ion-buttons>
          <ion-buttons end>
            <button ion-button icon-only class="detail-controls" (click)="toggleFavorite()">
              <ion-icon class="star" name="{{story.favorited ? 'star' : 'star-outline'}}"
              [class.favorited]="story.favorited" ></ion-icon>
            </button>
           </ion-buttons>
        </ion-toolbar>
        <div class="description bottom" color="general" *ngIf="story.description" [class.show]='showDescription'>
          <p class="description-text">{{story.description}}</p>
          <button ion-button basic color="white" round class="description-close" (click)="toggleDescription()">
            <ion-icon name="close" color="primary"></ion-icon>
          </button>
        </div>
        <!--
        <div class="row">
          <div class="detail-button">
            <div class="story-action" (click)="editDescription(story)">
              <ion-icon name="md-create" color="general"></ion-icon>
              <p>Vul het verhaal aan</p>
            </div>
          </div>
        </div>-->
    </div>
  </ion-content>