prisma-story-detail {

  ion-content {
    height: 100vh;
    overflow: hidden;
  }

  ion-content.dark-content {
    background-color: color($colors, dark-gray);
  }

  .no-scroll .scroll-content{
    overflow: hidden;
}

  .detail-title {
    float: left;
  }

  .overlay-nav {
    z-index: 2;
    color: #fff;

    .toolbar-background {
      background: none;
    }

    .bar-button {
      color: #fff;
      text-shadow: $detail-shadow;
    }
  }

  .detail-nav {
    @extend .overlay-nav;
    position: absolute;
    top: 0;
  }

  .description {
    padding: 1em;
    color: #fff;
    background-color: color($colors, general);
    font-size: map-get($sizes, 'medium');

    display: none;
  }

  .bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  .controls {
    display: none;
  }

  .show {
    display: block;
  }

  .controls.show {
    display: flex; 
  }

  .description-text {
    margin: 0;
  }

  .detail-button {
    width: 100%;
    font-size: map-get($sizes, 'medium');
    background-color: transparent;
    text-align: left;
    padding-left: 1em;

    div {
      p {
        color: color($colors, dark-gray);
        margin-left: 0.4em;
      }
    }

    .story-action {
      display: block;
    }
  }

  .detail-button * {
    display: inline-block;
  }

  img {
    display: block;
  }

  .image-container {
    position: relative;
    background-color: color($colors, dark-gray);
  }

  .detail-img {
    margin: auto;
    max-height: 100vh;
    position: relative;

    top: 0;
  }
  .star2 {
    font-size: 2em;
    color: color($colors, dark-gray);
  }

  .star2.favorited {
    color: color($colors, yellow);
  }

  .movie-indicator {
    color: white;
    display: block;
    margin: 0 auto;
    font-size: 50px;
  }

  .toolbar-content-md {
    margin-right: 16px;
  }
}
