prisma-password-reset{
  background: white;

  .text-password-reset {
    margin-left: 1.5em;
    font-size: 18px;
    color: color($colors, dark-gray);
  }

  .page-title{
    color: white;
    text-align: center;
  }

  .list {
    margin-left: 1.5em;
    margin-right: 1.5em;
    margin-top:1.5em;
    margin-bottom: 2.5em;
  }

  .toolbar-content-md {
    margin-right: 44px;
  }
}

