prisma-story-list-page, prisma-story {

  album-questions .topic-wrapper {
    height: 30%;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 90000;
  }

  ion-title {
    float: left;
  }

  .grid {
    padding: 0;
  }


  .col, [col-6] {
    padding: 0;
  }

  .description-wrapper {
    text-overflow: ellipsis;
    overflow: hidden;
    height: 100%;
    color: color($colors, white);
  }

  .story-description {
    margin: 0;
    font-size: map-get($sizes, 'small');
    color: color($colors, dark-gray);
  }

  .star {
    font-size: 2.5em;
  }

  .album-thumb {
    position: relative;
  }
  .album-thumb h3 {
    padding: 0 1em;
    display: inline-block;
    text-align: center;
    margin: auto;
    color: #fff;
    position: absolute;
    bottom: 1em;
    left: 0;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 16px;

  }
  
  .boxPlay{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%)
  }
}
